.defaultHero,
.showRoomsHero,
.roomsHero {
  min-height: calc(100vh - 66px);
  background: url("../../assets/office-space.JPG") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.roomsHero {
  background: url("../../assets/office-space2.JPG") center/cover no-repeat;
  min-height: 60vh;
}

.showRoomsHero {
  background: url("../../assets/office-space3.JPG") center/cover no-repeat;
  min-height: 60vh;
}
